.profession {
    height: inherit;
    position: relative;
    .inner-section {
        height: inherit;
        max-width: 960px;
        display: block;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        .inner-section-left {
            height: inherit;
            width: 65%;
            h1 {
                font-size: 34px;
                margin-bottom: 10px;
                padding-bottom: 8px;
                position: relative;
                font-family: 'Roboto Slab', serif;
                color: #022144;

                &:before {
                    content: "";
                    width: 100px;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translateX(0);
                    background: #fec110;
                }

                &:after {
                    content: "";
                    width: 60px;
                    height: 2px;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    transform: translateX(0);
                    background: #fec110;
                }
            }

            p {
                padding-top: 20px;
                font-size: 14px;
                width: 400px;
                font-family: 'Playfair Display', serif;
                color: #8a8fa3;
            }
        }

        .inner-section-right {
            height: inherit;
            width: auto;
            position: relative;
            top: 10px;

            .first-section {
                display: table-cell;
                position: relative;
            }

            .second-section {
                display: table-cell;
                position: relative;
                top: 30px;
            }

            .interest {
                img {
                    position: relative;
                }

                span {
                    position: absolute;
                    right: 15px;
                    font-weight: 500;
                    font-size: 20px;
                    font-family: 'Roboto Slab', serif;
                }

                width: 200px;
                height: 80px;
                display: flex;
                align-items: center;
                background-color: #f0f8ff;
                position: relative;
                margin: 20px 10px;
                background-image: -webkit-linear-gradient(40deg, #fec110 0%, #fbd214 100%);
                color: #fff;
                transition: all 0.5s;
                box-shadow: 0px 10px 20px 0px rgba(57, 42, 0, 0.14);
                cursor: pointer;

                &:hover {
                    box-shadow: none;
                }

                &.passion-one {
                    img {
                        max-width: 60px;
                        max-height: 60px;
                        left: 22px;
                    } 

                    span {
                        right: 60px;
                    }
                }

                &.passion-two {
                    img {
                        max-width: 55px;
                        max-height: 55px;
                        left: 15px;
                    } 

                    span {
                        right: 30px;
                    }
                }

                &.passion-three {
                    img {
                        max-width: 50px;
                        max-height: 50px;
                        left: 18px;
                    } 
                }

                &.passion-four {
                    img {
                        max-width: 85px;
                        max-height: 85px;
                        left: 0px;
                    }     
                    
                    span {
                        right: 30px;
                    }
                }
            }
        }
    }
}