.profession {
    height: inherit;
    .inner-section {
        height: inherit;
        width: 960px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        .inner-section-left {
            height: inherit;
            width: 65%;
            h1 {
                font-size: 34px;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                width: 400px;
            }
        }

        .inner-section-right {
            height: inherit;
            width: 35%;
            .first-section {
                display: table-cell;
                position: relative;
            }

            .second-section {
                display: table-cell;
                position: relative;
                top: 30px;
            }

            .interest {
                img {
                    max-width: 24px;
                    max-height: 24px;
                    position: relative;
                    left: 18px;
                }

                span {
                    position: absolute;
                    right: 22px;
                }

                width: 150px;
                height: 60px;
                display: flex;
                align-items: center;
                background-color: #f0f8ff;
                position: relative;
                margin: 20px 10px;
            }
        }
    }
}