.service {
    box-sizing: border-box;

    .inner-section {
        max-width: 960px;
        display: block;
        margin: 0 auto;

        .service-header {
            text-align: center;
            margin-bottom: 25px;
            position: relative;
            padding-bottom: 8px;
            span {
                font-size: 18px;
                font-family: 'Playfair Display', serif;
                font-weight: 500;
                text-transform: capitalize;
                color: #8a8fa3;
            }

            h1 {
                font-size: 34px;
                font-family: 'Roboto Slab', serif;
                color: #022144;
            }

            &:before {
                content: "";
                width: 100px;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: #fec110;
            }

            &:after {
                content: "";
                width: 60px;
                height: 2px;
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                background: #fec110;
            }
        }

        .row {
            display: flex;
            margin-bottom: 35px;

            .column {
                display: flex;
                flex: 50%;
                padding: 10px;
                height: 90px;

                &:nth-child(odd) {
                    padding-right: 50px;
                }

                &:nth-child(even) {
                    padding-left: 50px;
                }

                .left-section {
                    .image-fill {
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;
                        top: 10px;

                        img {
                            max-width: 100%;
                            max-height: 100%; 
                            object-fit: contain; 
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;   
                            left: 0;
                            right: 0;                  
                        }
                    }                    
                }

                .right-section {
                    margin-left: 15px;
                    padding-right: 20px;
                    h4 {
                        font-size: 16px;
                        margin-bottom: 5px;
                        font-family: 'Roboto Slab', serif;
                        letter-spacing: 0.5px;
                        color: #32333c;
                    }

                    p {
                        font-size: 12px;
                        font-family: 'Playfair Display', serif;
                        font-style: italic;
                        color: #8a8fa3;
                    }
                }
            }
        }       
    }
}
  
  