// Font Styles
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html, h1, h2, h3, h4, h5, h6, p, button, span {
    // font-family: 'Montserrat', sans-serif;
}

// Button Styles
button {
    @include button(200px, 60px, #fec110, #ffffff, '', 18px, 600);
}

// Background Styles
.app-scrollbar {
    .os-content {
        width: 100%;

        & > section:not(.header-section):not(.copyright-section):not(.top-section) {
            padding-top: 70px;
            padding-right: 25px;
            padding-left: 25px;
        }
    }     
}

// Mobile Menu Hide
.bm-burger-button {
    display: none;
    right: 5%;
    left: auto;
    width: 32px;
    height: 32px;
    top: 18px;
}

.bm-cross-button {
    width: 32px !important;
    height: 32px !important;
    top: 18px !important;
}