// Font Styles
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html, h1, h2, h3, h4, h5, h6, p, button, span {
    font-family: 'Montserrat', sans-serif;
}

// Button Styles
button {
    @include button(200px, 60px, #fec110, #ffffff, '', 18px, 600);
}

// Background Styles
.app-scrollbar {
    .os-content {
        width: 100%;

        & > section:not(.header-section):not(.copyright-section):not(.top-section) {
            padding-top: 70px;
            padding-right: 25px;
            padding-left: 25px;
        }
    }     
}