.contact {
    .inner-section {
        max-width: 960px;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 70px;

        h1 {
            font-size: 34px;
        }

        p {
            padding: 25px 0;
            
            span {
                width: 445px;
                display: inline-block;
            }
        }

        button {

        }
    }
}