.header {
    width: 100%;
    display: flex;
    justify-content: center;
    .inner-section {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 960px;
        width: 100%;
        .logo {
            display: inline-block;
            padding-left: 15px;
            img {
                max-width: 55px;
                max-height: 100%;
            }
        }

        .menu {
            margin-left: auto;
            order: 2;
            display: inline-block;
            .inner-list {
                ul.list-group {
                    li.item {
                        display: inline-block;
                        padding: 8px 15px;
                        position: relative;                        
                        
                        a {
                            text-decoration: none;
                            color: #2c2c2c;
                            transition: all 0.3s;
                            font-family: 'Playfair Display', serif;
                            font-size: 14px;
                            font-weight: 500;
                            letter-spacing: 1px;

                            &:before {
                                content: '';
                                position: absolute;
                                bottom: 2px;
                                height: 2px;
                                width: 0;
                                background-color: #feb633;
                                transition: all 0.3s;
                            }
    
                            &:before {
                                left: 15px;
                            }

                            &.active, &:hover {
                                color: #feb633;

                                &:before {
                                    width: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
