.app {
  height: 100vh;
}

.app-scrollbar {
  height: 100vh;
}

.header-section {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.top-section {
  height: 100vh;
}

.about-section {
  height: 100vh;
}

.skcert-section {
  height: 100vh;
}

.service-section {
  height: 100vh;
}

.project-section {
  height: 100vh;
}

.expedu-section {
  height: 100vh;
}

.blog-section {
  height: 160px;
}

.youtube-section {
  height: 160px;
}

.contact-section {
  height: 100vh;
}

.copyright-section {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .page-footer {
  }
}
