.certifications {
    .inner-section {
        margin-bottom: 75px;
        
        h1 {
            font-size: 34px;
            margin-bottom: 25px;
        }

        .single-certificate {
            border-bottom: 1px solid #e1e6f1;
            padding-bottom: 15px;
            padding-top: 15px;
            display: flex;
            align-items: center;

            .left-section {
                display: table-cell;
                width: 50px;
                text-align: center;

                img {
                    max-width: 50px;
                    max-width: 50px;
                }
            }

            .right-section {
                display: table-cell;
                margin-left: 15px;
                .certificate-name {
                    span {
                        font-size: 16px;
                        font-family: 'Roboto Slab', serif;
                        color: #32333c;
                    }
                }

                .issued-by {
                    span {
                        font-size: 14px;
                        font-family: 'Playfair Display', serif;
                        color: #727b86;
                    }
                }

                .other-info {
                    span {
                        font-size: 13px;
                        font-family: 'Playfair Display', serif;
                        color: #555555;
                        letter-spacing: 0.5px;
                        
                        &:first-child {
                            
                        }

                        &:last-child {

                        }
                    }
                }

                .see-credential {
                    a {
                        text-decoration: underline;
                        color: #8a8fa3;
                        font-size: 12px;
                        font-family: 'Playfair Display', serif;
                        font-style: italic;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
    }
}